table {
    width: 80%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: bold
  }

  /* Estilos para pantallas más pequeñas (máximo 600px) */
  @media screen and (max-width: 600px) {
    table {
      font-size: 12px;
    }

    th, td {
      padding: 5px;
    }
  }
