
/* Estilos para la tabla */
.custom-table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

.custom-table thead {
    background-color: black;
    color: white;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-table tbody tr {
    background-color: #f9f9f9;
}

/* Estilos para hacer la tabla responsive */
@media (max-width: 767px) {
    .custom-table th,
    .custom-table td {
        width: 100%;
        display: block;
    }
}
